.custom-tooltip strong{
    background: rgba(250, 89, 89, 0.9) !important; /* رنگ پس زمینه */
    border-radius: 5px; /* گوشه‌های گرد */
    padding: 10px; /* حاشیه داخلی */
    color:#555 !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* سایه */
  }
  
  .custom-tooltip .tooltip-header {
    font-weight: bold; /* فونت ضخیم */
  }
  
  .custom-tooltip .tooltip-body {
    margin-top: 5px; /* فاصله */
  }
  