.p-datatable-custom .p-datatable-thead > tr > th {
  background-color: #1c1c1e !important;
  color: #ffffff !important;
  text-align: left !important; /* Change to 'center' or 'right' as needed */
  padding: 5px 20px !important;
}

.p-datatable-custom .p-datatable-tbody > tr > td {
  border-bottom: 1px solid #ddd !important;
  padding: 5px 20px !important;
}
.p-datatable-custom .p-datatable-thead > tr > th:last-child {
  border-bottom: 1px solid #ddd !important;
  padding: 5px 50px !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
  background-color: #4788fd; /* Your desired background color */
}
.p-dropdown-panel .p-dropdown-items {
  background-color: #1c1c1e; /* Your desired background color */
  color: #ffffff;
  text-align: right;
  justify-content: center;
  font-family: "IRANSans" !important;
}


